<% layout('/layouts/boilerplate') %>
  <h1 class="text-center">Edit "<%= task.text %>" Task</h1>
  <div class="col-6 offset-3">
    <form method="POST" action="/boards/task/<%= task._id %>?_method=PUT" novalidate class="needs-validation">
      <div class="form-group row mb-1 p-3 d-none">
        <label for="task-text" class="col-sm-2 col-form-label"><b>Board Name:</b></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="task-board-name" placeholder="Enter Board Name"
            name="task[boardName]" required value="<%= task.boardName %>">
          <div class="valid-feedback">
            Looks Good!
          </div>
        </div>
      </div>
      <div class="form-group row mb-1 p-3">
        <label for="task-text" class="col-sm-2 col-form-label"><b>Text:</b></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="task-text" placeholder="Enter New Task" name="task[text]"
            value="<%= task.text %>" required>
          <div class="valid-feedback">
            Looks Good!
          </div>
        </div>
      </div>
      <fieldset class="form-group mb-1 p-3">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0"><b>Status:</b></legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="task[state]" id="todo" value="todo"
                <%=task.state==='todo' ? 'checked' : '' %>>
              <label class="form-check-label" for="todo">
                To Do
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="task[state]" id="inprogress" value="inprogress"
                <%=task.state==='inprogress' ? 'checked' : '' %>>
              <label class="form-check-label" for="inprogress">
                In Progress
              </label>
            </div>
            <div class="form-check disabled">
              <input class="form-check-input" type="radio" name="task[state]" id="done" value="done"
                <%=task.state==='done' ? 'checked' : '' %>>
              <label class="form-check-label" for="done">
                Done
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group mb-1 p-3">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0"><b>Priority:</b></legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="task[priority]" id="prio-1" value="low"
                <%=task.priority==='low' ? 'checked' : '' %>>
              <label class="form-check-label" for="prio-1">
                Low
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="task[priority]" id="prio-2" value="medium"
                <%=task.priority==='medium' ? 'checked' : '' %>>
              <label class="form-check-label" for="prio-2">
                Medium
              </label>
            </div>
            <div class="form-check disabled">
              <input class="form-check-input" type="radio" name="task[priority]" id="prio-3" value="high"
                <%=task.priority==='high' ? 'checked' : '' %>>
              <label class="form-check-label" for="prio-3">
                High
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="form-group row mb-1 p-3">
        <label for="task-text" class="col-sm-2 col-form-label"><b>Deadline:</b></label>
        <div class="col-sm-10">
          <input type="date" class="form-control w-auto" id="deadline" name="task[deadline]" min="2023-06-26"
            max="2024-12-31" value="<%= convertISODateToYYYYMMDD(task.deadline) %>">
        </div>
      </div>
      <div class="p-3">
        <button type="submit" class="btn btn-success">Edit Task</button>
      </div>
    </form>
    <form class= "p-3" action="/boards/task/<%= task._id %>?boardName=<%= task.boardName %>&_method=DELETE" method="post">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>

    <div class="p-3">
      <a href="/boards/?boardName=<%= task.boardName %>">Back</a>
    </div>
  </div>